<div class='button-container'>
  <diV>
    <%= link_to "Login", new_session_path, :class => "large button" %>
  </div>
  <div>
    <%= link_to "Register", new_user_path, :class => "large button" %>
  </div>
</div>
